@using RoomApp.Utility.ViewModels;
@using RoomApp.Models.Enum;
@model BookingParticipantsVM
@{
    ViewData["Title"] = "Edit Room Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Add Participant Page</h1>
</div>


<div>
    <div asp-validation-summary="All"></div>
    <form asp-area="BasicUser" asp-controller="Home" asp-action="AddParticipant" method="post">
        <input type="hidden" asp-for="@Model.BookingId" value="@Model.BookingId" />
        <div class="mb-3">
            <label asp-for="@Model.UserId"></label>
            <select asp-for="@Model.UserId" asp-items="@(new SelectList(ViewBag.Participant, "Id", "FirstName"))">
                <option value="">Select a User</option>
            </select>
            <span asp-validation-for="@Model.UserId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ParticipantStatus"></label>
            <select asp-for="ParticipantStatus" asp-items="Html.GetEnumSelectList<ParticipantStatus>()"></select>
            <span asp-validation-for="@Model.ParticipantStatus" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit">Add Participant</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}