@using RoomApp.Utility.ViewModels;
@model RoomBookingParticipantVM

@{
    ViewData["Title"] = "User Book Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["success"] != null)
{
    <div>
        <h2>@TempData["success"]</h2>
    </div>
}
<div>
    <h1>Basic User Book Room Page</h1>
</div>

<div>
    <h2>Room Details</h2>
    <div class="card" style="width: 18rem;">
        <form asp-area="BasicUser" asp-controller="Home" asp-action="BookRoom" method="post">
            <ul class="list-group list-group-flush">
                <input type="hidden" asp-for="@Model.Room.Id" value="@Model.Room?.Id" />
                <li class="list-group-item">Room Name: @Model.Room?.Name<input type="hidden" asp-for="@Model.Room.Name" value="@Model.Room?.Name" /></li>
                <li class="list-group-item">Room Size: @Model.Room?.Size<input type="hidden" asp-for="@Model.Room.Size" value="@Model.Room?.Size" /></li>
                <li class="list-group-item">Room Status: @Model.Room?.Status<input type="hidden" asp-for="@Model.Room.Status" value="@Model.Room?.Status" /></li>
                <input type="hidden" asp-for="@Model.BookingId" value="@Model.BookingId" />
                <li class="list-group-item">
                    Booking Name:
                    <input type="text" asp-for="@Model.BookingName" />
                    <span asp-validation-for="@Model.BookingName" class="text-danger"></span>
                </li>
                <li class="list-group-item">
                    Start Time:
                    <input type="datetime-local" asp-for="@Model.StartTime" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                </li>
                <li class="list-group-item">
                    End Time:
                    <input type="datetime-local" asp-for="@Model.EndTime" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                </li>
            </ul>
            <div>
                <button type="submit">Book Room</button>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
