@model Room
@{
    ViewData["Title"] = "BasicUser Create Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Create Room View</h1>
</div>

<div>
    <form asp-area="Admin" asp-controller="Home" asp-action="CreateRoom" method="post">
        <div class="mb-3">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Size"></label>
            <input asp-for="@Model.Size" type="number" min="1" max="20" />
            <span asp-validation-for="@Model.Size" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="hidden" asp-for="Status" value="Available" />
        </div>
        <div class="mb-3">
            <button type="submit">Create Room</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }


