@model IEnumerable<Room>
@{
    ViewData["Title"] = "BasicUser Create Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Admin Index Page</h1>
</div>

<div>
    <button>
        <a asp-area="Admin" asp-controller="Home" asp-action="CreateRoom">Create Room</a>
    </button>
</div>
<div>
    <table class ="table table-hover">
        <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>Room Name</th>
                <th>Size</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model)
            {
                <tr class="table-primary">
                    <td>@room.Id</td>
                    <td>@room.Name</td>
                    <td>@room.Size</td>
                    <td>@room.Status</td>
                    <td>
                        <a asp-area="Admin" asp-controller="Home" asp-action="EditRoom" asp-route-id="@room.Id">Edit</a> |
                        <a asp-area="Admin" asp-controller="Home" asp-action="DeleteRoom" asp-route-id="@room.Id">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }


